@import "./fira-sans.less";

html {
    font-family: 'Fira Sans';
    margin: auto;
}

html, body {
	max-width: 32rem;
}

h1, h2, h3 {
	font-weight: bold;
	height: 2rem;
}

h1 {
	font-size: 130%;
}

h2 {
	font-size: 120%;
}

h3 {
	font-size: 110%;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input {
    height: 2rem;
    border: solid;
    border-width: 1px;
}

button {
    border: none;
    background-color: #333;
    height: 2rem;
    color: #ddd;
    padding: 0.1rem;
    margin: 0;
}
